.header{
	text-align: center;
	color: white;
}
.row{
	padding-top: 20px;
	padding-bottom: 20px;
}
.col-md-4{
	padding-left: 40px;
	padding-right: 40px;
}
.h2{
	text-align: center;

}
.p{
	text-align: center;

}